* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================== initial ===================================== */

.main-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* ===================================== initial ===================================== */

/* ===================================== step 1 ===================================== */



/* ===================================== step 1 ===================================== */

/* ===================================== step 2 ===================================== */



/* ===================================== step 2 ===================================== */