* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================== initial ===================================== */

.main-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .4s;
}

.bg--step1 {
    opacity: 0;
}

.logo {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.text {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    animation: fadeIn ease-in-out .3s 1s forwards;
}


/* presentBox */
.presentBox {
    position: absolute;
    width: 40%;
    transform: translateY(-100vh);
    animation: slideTop ease-in .5s forwards;
}

.presentBox--bp {
    left: 6%;
    top: 25%;
}

.presentBox--multikino {
    right: 6%;
    top: 45%;
}

.presentBox__item {
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.presentBox__item--top {
    z-index: 2;
}

.presentBox__item--text {
    opacity: 0;
}

/* punkciak */
.punkciak {
    opacity: 0;
    position: absolute;
    width: 40%;
    left: 5%;
    bottom: 25%;
    animation: fadeIn ease-in-out .3s 1s forwards;
}

.hand {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 10%;
    transform-origin: 50% 80%;
    animation: fadeIn ease-in-out .3s 2s forwards, rotate linear .5s 2.5s;
  }

/* ===================================== initial ===================================== */

/* ===================================== step 1 ===================================== */

.step1 .bg--initial {
    opacity: 0;
}

.step1 .bg--step1 {
    opacity: 1;
}

/* ===================================== step 1 ===================================== */

/* ===================================== step 2 ===================================== */



/* ===================================== step 2 ===================================== */

/* ===================================== animations ===================================== */

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes slideTop {
    0% {transform: translate3d(0, -100vh, 0)}
    100% {transform: translate3d(0, 0, 0)}
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    33% {transform: rotate(25deg)}
    66% {transform: rotate(-25deg)}
    100% {transform: rotate(0deg)}
  }

/* ===================================== animations ===================================== */