* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================== initial ===================================== */

.main-container {
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg--step1 {
    opacity: 0;
}

.logo {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.text {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
}

.text--initial {
    animation: fadeIn ease-in-out .3s 1s forwards;
}

.text--step1,
.text--step2 {
    opacity: 0;
}

/* presentBox */
.presentBox {
    position: absolute;
    width: 40%;
    transform: translateY(-100vh);
    animation: slideTop ease-in .5s forwards;
}

.presentBox--bp {
    left: 6%;
    top: 25%;
}

.presentBox--multikino {
    right: 6%;
    top: 45%;
}

.presentBox__item {
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.presentBox__item--top {
    z-index: 2;
}

.presentBox__item--text {
    opacity: 0;
}

/* punkciak */
.punkciak {
    opacity: 0;
    position: absolute;
    max-width: 40%;
    width: 100%;
    left: 5%;
    bottom: 25%;
    animation: fadeIn ease-in-out .3s 1s forwards;
}

.punkciaki {
    opacity: 0;
    position: absolute;
    width: 100%;
    max-width: 75%;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%) scale(0);
}

.hand {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 20%;
    left: 40%;
    bottom: 10%;
    transform-origin: 50% 80%;
    animation: fadeIn ease-in-out .3s 2s forwards, rotate linear .5s 2.5s;
}

.confetti {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    background: url("img/confetti.png");
    background-size: 100%;
}

.confetti--2 {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    bottom: 45%;
    background: url("img/confetti.png");
    background-size: 100%;
    transform: scale(0);
}

.btn {
    opacity: 0;
    position: absolute;
    display: block;
    bottom: 17%;
    transform: scale(0);
}

.btn__img {
    display: inline-block;
    max-width: 100%;
    width: 100%;;
}

/* ===================================== initial ===================================== */

/* ===================================== step 1 ===================================== */

.step1 .bg--initial {
    opacity: 0;
    transition: .4s;
}

.step1 .text--initial,
.step1 .hand,
.step1 .punkciak {
    opacity: 0;
    animation: fadeOut .2s;
}
.step1 .bg--step1 {
    transition: .2s;
}

.step1 .bg--step1,
.step1 .text--step1 {
    opacity: 1;
}

.step1 .text--step1 {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

/* present */
.step1 .presentBox {
    transition: .4s;
}

.step1 .presentBox--bp {
    left: 6%;
    top: 45%;
}

.step1 .presentBox--multikino {
    right: 6%;
    top: 45%;
}

.step1 .presentBox--bp .presentBox__item--top {
    transition: .5s .5s;
    transform: translate3d(-50vw, -30vh, 0) rotate(-90deg);
}

.step1 .presentBox--multikino .presentBox__item--top {
    transition: .5s .5s;
    transform: translate3d(50vw, -30vh, 0) rotate(90deg);
}

.step1 .presentBox__item--text {
    animation: fadeIn ease-in-out .3s 1.5s forwards;
}

.step1 .confetti {
    opacity: 1;
    animation: confettiFall--1 ease-in 5s 0.1s forwards;
}

/* ===================================== step 1 ===================================== */

/* ===================================== step 2 ===================================== */

.step2 .bg--initial {
    opacity: 1;
    transition: 0s;
}

.step2 .bg--step1 {
    opacity: 0;
}

.step2 .confetti,
.step2 .text--step1,
.step2 .presentBox {
    opacity: 0;
    animation: fadeOut .2s;
}

.step2 .presentBox,
.step2 .presentBox--multikino .presentBox__item--top,
.step2 .presentBox--bp .presentBox__item--top {
    display: none;
}

.step2 .text--step2,
.step2 .punkciaki {
    opacity: 1;
}

.step2 .punkciaki {
    transition: .5s;
    transform: translateX(-50%) scale(1);
    animation: pulse 1s .3s infinite;
}

.step2 .confetti--2 {
    opacity: 1;
    transition: .7s;
    transform: scale(1);
}

.step2 .btn {
    opacity: 1;
    transform: scale(1);
}

/* ===================================== step 2 ===================================== */

/* ===================================== animations ===================================== */

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
  }

@keyframes slideTop {
    0% {transform: translate3d(0, -100vh, 0)}
    100% {transform: translate3d(0, 0, 0)}
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    33% {transform: rotate(25deg)}
    66% {transform: rotate(-25deg)}
    100% {transform: rotate(0deg)}
}

@keyframes confettiFall--1 {
    0% {transform: translate3d(0, -40vh, 0)}
    100% {transform: translate3d(0, 20vh, 0)}
}

@keyframes pulse {
    0% {transform: translateX(-50%) scale(1);}
    50% {transform: translateX(-50%) scale(1.1);}
}

/* ===================================== animations ===================================== */